.errorCont {
    background-image: url('https://cdn.dribbble.com/users/1916180/screenshots/3875427/media/2c0c92969637e9bc9d293152ec783552.jpg?compress=1&resize=768x576&vertical=top');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 115vh;
  }