.divNav{
 
    display: flex;
   justify-content:space-around;

}

.buttonHome{
    margin-top: 40px;
    margin-left: 2px auto;
    font-family: 'Jolly Lodger', cursive;
    font-size: 1.5em;
    color:aliceblue;
    border: 2px solid rgb(23, 253, 2);
    border-color:rgb(23, 253, 2) ;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    width: 100px;
    height: 50px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

.buttonAbout{
    margin-top: 40px;
    margin-left: 2px auto;
    font-family: 'Jolly Lodger', cursive;
    font-size: 1.5em;
    color:aliceblue;
    border: 2px solid rgb(23, 253, 2);
    border-color:rgb(23, 253, 2) ;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    width: 100px;
    height: 50px;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}